<li id="post-<%= post._id %>">
    <p>
        <% if (locals.user && locals.user.id==post.user.id){ %>
            <% } %>
                <%= post.content %>
                <small>
                    <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg> </a>
                </small>
                    <br>
                    <small>
                       Posted by:  <%= post.user.name %>
                    </small>

                    <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
                    <br>
                    <!-- study about the data attribute -->
                    <!-- <small>
                        <% if (locals.user){ %>
                            <a class="toggle-like-button" data-likes="<%= post.likes.length %>"
                                href="/likes/toggle/?id=<%=post._id%>&type=Post">
                                <%= post.likes.length %> Likes
                            </a>
                            <% }else{ %>
                                <%= post.likes.length %> Likes
                                    <% } %>
                    </small> -->

    </p>
    <div class="post-comments">
        <% if (locals.user){ %>
            <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
            <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type Here to add comment..." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment">
            </form>
            <% } %>
            <br>
                <div class="post-comments-list">
                    <ul id="post-comments-<%= post._id %>">
                        <% for (comment of post.comments){%>
                            <p> Comments on this post </p>
                            <%- include('_comment') -%>
                                <%} %>
                    </ul>
                </div>
    </div>

</li>