<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>

<!-- Now I am going to create a form to enable a user to edit his details when he s viewing his profile,else only the profile info is shown-->
<% if(user.id==profile_user.id){ %>
    <form action="/users/update/<%=profile_user.id%>" method="POST">
        <input type="text" name="name" placeholder="Your Name " value="<%=profile_user.name %>" required>
        <input type="text" name="email" placeholder="Your Email" value="<%=profile_user.email %>" required>
        <input type="submit" value="Update">
    </form>
    <%}else{ %>
        <p>
            <%= profile_user.name %>
        </p>
        <p>
            <%= profile_user.email %>
        </p>
        <%}%>